<h1>Lista de juegos</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="button-row">
  <button mat-raised-button (click)="addGame()">AÑADIR</button>
</div>

<ul>
	<li *ngFor="let element of dataSource; index as i">
	{{ i+1 }} : {{ element.name }} 
  <button mat-raised-button (click)="deleteGame(i)">ELIMINAR</button>
</ul>